{% extends 'base.html' %}
{% block body %}
    <div class="well-large" style="background-color: #d9edf7" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        <p><blockquote>
            程序采用python语言 ， 使用了flask网络框架 <br>
            项目地址：https://github.com/Liuchang0812/flask-user-system <br>
            新浪云平台DEMO：http://lcusersystem.sinaapp.com/
                        <small> 刘畅   武汉大学   200130306</small></blockquote>
        </p>
    </div>

{% endblock %}