{% extends 'base.html' %}
{% block body %}
    <div class="well-large" style="background-color: #d9edf7" xmlns="http://www.w3.org/1999/html">
        <form class="form-horizontal" ation="{{ url_for('changepassword') }}" method=post>

            <div class="control-group warning">
                <label class="control-label" for="password">原密码：</label>

                <div class="controls warning">
                    <input type="password" id="password"  name="password">
                </div>
            </div>

            <div class="control-group warning">
                <label class="control-label " for="newpassword">新密码：</label>

                <div class="controls warning">
                    <input type="password" id="newpassword"  name="newpassword">
                </div>
            </div>

            <div class="control-group warning">
                <label class="control-label" for="repassword">重复新密码：</label>

                <div class="controls warning">
                    <input type="password" id="repassword"  name="repassword"
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit"  class="btn btn-primary">修改</button>
                    <button type="reset" class="btn btn-danger">清空</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}