<!DOCTYPE html>
<html>
<head>
    <title>用户信息比较界面</title>
</head>
<body>
edit your info!
</body>
</html>



<div class="control-group">
    <label class="control-label" for="inputname">姓名：</label>
    <div class="controls">
        <input type="text" id="inputname" placeholder="输入姓名..." name="name">
    </div>
</div>
<div class="control-group">
    <label class="control-label " for="inputstuid">学号：</label>
    <div class="controls">
        <input type="text" id="inputstuid" placeholder="输入学号..." name="stuid">
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="inputname">学院：</label>
    <div class="controls">
        <select name="college">
            <option name="cs" value="计算机学院">计算机学院</option>
            <option name="sw" value="国际软件学院">国际软件学院</option>
            <option name="math" value="数学学院">数学学院</option>
            <option name="other" value="其它">其它</option>
        </select>
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="inputname">自我介绍：</label>
    <div class="controls">
        <textarea class="span6" name="intro" rows="3" cols="40" placeholder="简单的介绍下自己吧...." ></textarea>
    </div>
</div>