{% extends 'base.html' %}
{% block body %}
    <div class="well-large" style="background-color: #d9edf7" xmlns="http://www.w3.org/1999/html">
        <form class="form-horizontal" ation="{{ url_for('findpassword') }}" method=post>
            <div class="control-group warning">
                <label class="control-label" for="email">电子邮箱：</label>
                <div class="controls">
                    <input type="text" id="email" placeholder="请输入邮箱地址" name="email">
                    <button type="submit"  class="btn btn-primary">找回</button>
                    <button type="reset" class="btn btn-danger">清空</button>
                </div>
            </div>

        </form>
    </div>

{% endblock %}